.App {
  text-align: center;
}

.lavender {
  color: #9795FF;
}

.deep-blue {
  color: #1600FF;
}

.bg-concrete {
  background-color: #F2F2F2
}

.menu-button.MuiButton-root {
  padding-top: 0;
  padding-bottom: 0;
}

.cursor-default {
  cursor: default;
}

.mui-container.MuiContainer-root {
  padding-left: 0;
  padding-right: 0;
}

.add-task-button.MuiButton-root {
  border-radius: 1rem;
}

.header-shadow { box-shadow: 0 5px 5px -5px rgba(17, 17, 17, 0.5); }